# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv
db.sqlite3
db.sqlite3-journal
instance/
.pytest_cache/
.coverage
htmlcov/

# Node/Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache
.prettiercache
.DS_Store
.parcel-cache
.cache
.vite

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
MirrorApiBackend/media/
MirrorApiBackend/static/
